template(name='home')
    // .ui.center.aligned.basic.segment
    //     .ui.basic.big.compact.circular.button.debit
    //         i.gift.red.icon
    //         |send points
    .ui.stackable.padded.grid
        .centered.row 
            .four.wide.column
                .ui.segment 
                    .ui.header company
            .four.wide.column
                .ui.segment 
                    .ui.header finance
                    .ui.header budget
                    .ui.header edit lead preferences
            .four.wide.column
                .ui.segment 
                    .ui.header finance
                    .ui.header budget
                    .ui.header edit lead preferences
                    
        .centered.row
            .eight.wide.column
                .ui.segment
                    .ui.header leads     
            .four.wide.column
                .ui.segment
                    .ui.header budget
                    .ui.link.selection.list
                        .item.header HELPFUL LINKS
                        a.item Vetted Network FAQ
                        a.item Change Payment Method
                        a.item Financial Center
                        a.item Add money to balance
            .four.wide.column
                .ui.segment
                    .ui.header budget
                    .ui.list
                        .item Questions? Give us a call at:
                        .item 206-960-4337
                        .item 6AM - 5PM PST Monday - Friday
                        .item Or contact our support staff
                        .item Pro Resources
                        .item Lead Credits Policy